<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- this is first bean -->
	<bean class="com.springcore.Student" name="student1">
		<property name="studentId">
			<value>123</value>
		</property>
		<property name="studentName">
			<value>Onkar</value>
		</property>
		<property name="studentAddress">
			<value>Pune</value>
		</property>
	</bean>

	<!-- second bean -->
	<bean class="com.springcore.Student" name="student2">
		<property name="studentId" value="456" />
		<property name="studentName" value="Onkar Bhasme" />
		<property name="studentAddress" value="Maharashtra" />
	</bean>

	<!-- third bean using p schema -->
	<bean class="com.springcore.Student" name="student3"
		p:studentId="789" p:studentName="Onkar.Bhasme" p:studentAddress="Pune" />
</beans>